.chat {
    //border: 1px solid red;
    height: 100vh;

    // &-messages-owner {
    //     height: 90vh;
    //     overflow: auto;
    //     background-color: #0D0D2B;
    //     color: #0D0D2B;
    //     font-weight: 500;
    //     font-size: 1.6rem;
    //     display: flex;
    //     justify-content: flex-end;
    // }

    // &-messages-others {
    //     height: 90vh;
    //     overflow: auto;
    //     background-color: #0D0D2B;
    //     color: #0D0D2B;
    //     font-weight: 500;
    //     font-size: 1.6rem;
    //     display: flex;
    //     justify-content: flex-start;
    //}

    &-messages {
        height: 90vh;
        overflow: auto;
        overflow-y: scroll;
        background-color: #0D0D2B;
        color: #0D0D2B;
        font-weight: 500;
        font-size: 1.6rem;
        //display: flex;
        //justify-content: flex-end;


        &__coverdiv {
            width: 100%;
            //border: 1px solid red;
            display: flex;
            flex-direction: row;
            position: relative;
            //border: 10px solid red;
            justify-content: flex-end;
        }

        &__coverdiv-others {
            width: 100%;
            //border: 1px solid red;
            display: flex;
            flex-direction: row;
            position: relative;
            //border: 10px solid green;
            justify-content: flex-start;
        }

        &__div {
            //border: 1px solid white;
            background-color: white;
            width: max-content;
            height: fit-content;
            border-radius: 1rem 2rem;
            cursor: pointer;
            margin: 1rem 2rem;
            //border: 10px solid red;

            &__username {
                background-color: white;
                font-size: 1.1rem;
                font-weight: 700;
                //border: 1px solid red;
                position: absolute;
                color: green;
                padding: .2rem .5rem;
            }

            &__username-others {
                background-color: white;
                font-size: 1.1rem;
                font-weight: 700;
                //border: 1px solid red;
                position: absolute;
                color: red;
                padding: .2rem .5rem;
            }

            &__message {
                //border: 1px solid red;
                background-color: white;
                margin: 2rem 2rem;
                text-decoration: none;
                list-style: none;
                padding: 0rem 1rem;
            }

        }
    }

    &-form {
        width: 100%;
        //border: 1px solid red;
        display: flex;
        height: 10vh;

        &__input {
            width: 90%;
        }

        &__button {
            width: 10%;
        }
    }
}